<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <script
      type="text/javascript"
      src="//use.typekit.net/ik/L1oq2M2Wkwos0GujFr4PEjQkSX0cuMsWgOd1czyKoMvfeCbIfFHN4UJLFRbh52jhWDmqZQjowDZq5ABKFcJtFRSk52MtwR9awg7lMkG0jAFu-WsoShFGZAsude80ZkoRdhXCHKoyjamTiY8Djhy8ZYmC-Ao1Oco8if37OcBDOcu8OfG0Sem0ZamTdKukZA80Zem8SKXhdR8kO1FUiABkZWF3jAF8OcFzdP37O1FUiABkZWF3jAF8ShFGZAsude80ZkoRdhXCjAFu-WsoShFGZAsude80ZkoRdhXCjAFu-WsoShFGZAsude80Zko0ZWbCjWw0dA9CdeNRjAUGdaFXOYg8dciu-AtlScmTdcs8ZWJlFctoSKoDSWmyScmDSeBRZPoRdhXCSaBujW48SagyjhmDjhy8ZYmC-Ao1OcFzdPUX-emGiW4yjhB0ZcNudcsyie8zdKozScSCiaiaOcBRiA8XpWFR-emqiAUTdcS0jhNlOYiaikoyjamTiY8Djhy8ZYmC-Ao1Oco8ifUaiaS0jWw0dA9CiaiaO1g8dciu-AtlScmTdcs8ZWJlFctoSKoDSWmyScmDSeBRZPoRdhXCiaiaO1FUiABkZWF3jAF8ShFGZAsude80ZkoRdhXCiaiaO1sGZAyuScBRjAocdam0ZeBX-AN0OcNkZkJwSY4zpe8ljPu0daZyH6qJtKGbMg62JMJ7fbKzMsMMeMb6MKGHfO2IMsMMeM96MKG4fHXgIMMjgKMfH6qJK3IbMg6YJMJ7fbRRHyMMeMX6MKGHfOYIMsMMeMv6MKG4fJ3gIMMjIPMfqMYF67WEgb.js"
    ></script>
    <script type="text/javascript">
      try {
        Typekit.load();
      } catch (e) {
        console.warn(`Error loading typekit: ${e}`);
      }
    </script>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        font-family: "proxima-nova", sans-serif;
      }
      a {
        color: #e1141a;
      }
      h1,
      h2,
      h3,
      h4 {
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
